@import "../../styles/partials/colors";

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 800px;
  &__upper {
    padding: 16px;
    background-color: $lavender-color;
  }
  &__navigation {
    padding: 16px;
    min-height: 800px;
    background-color: $lavender-color;
    border-top: 5px solid $coolgray-color;
  }
  &__title {
    font-size: 32px;
    text-align: center;
    color: $white-color;
  }
  &__cardholder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 16px 0;
  }
  &__card {
    height: 600px;
    width: 400px;
    text-align: center;
    border: 3px $cloud-color solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 16px;
    color: $powerblue-color;

    &:hover {
      border: 3px solid $white-color;
      color: white;
    }
    &--album {
      @extend .homepage__card;
    }
    &--artists {
      @extend .homepage__card;
    }
    &--text {
      font-weight: 600;
      font-size: 32px;
      text-decoration: none;
    }
  }
}
