@import "../../styles/partials/colors";
@import "../../styles/partials/breakpoints";

.profile-page {
  background-color: $lavender-color;
  height: 100%;
  min-height: 900px;
  &__header {
    padding: 16px;
    color: $white-color;
  }
  &__upper {
    margin: 0 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid $coolgray-color;

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      color: $white-color;
      font-size: 16px;

      @include tabletView {
      }
      @include desktopView {
        font-size: 24px;
      }

      h2 {
        font-size: 16px;
        text-align: center;
        @include tabletView {
          font-size: 18px;
        }
        @include desktopView {
          font-size: 24px;
        }
      }

      h3 {
        font-size: 16px;
        text-align: center;
        @include tabletView {
          font-size: 18px;
        }
        @include desktopView {
          font-size: 24px;
        }
      }
    }
  }
  &__lower {
    padding: 16px;
    color: $white-color;
  }
  &__lower-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    border: 3px solid $coolgray-color;
  }

  &__avatar {
    height: 150px;

    @include tabletView {
    }
    @include desktopView {
      height: 300px;
    }
  }
}
