@import "../../styles/partials/colors";

.button-login {
  text-decoration: none;
  font-size: 12px;
  height: 42px;
  background-color: $violet-color;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
