//Primary-Colors
$black-color: #13182c;
$lavender-color: #d1b1c8;
$white-color: white;
$powerblue-color: #9b9fb5;

//Secondary-Colors
$coolgray-color: #9b9fb5;
$cloud-color: #bdc5d5;

//Background-Colors
$pink-color: #8c7284;
$violet-color: #7a6174;
