@import "../../styles/partials/colors";

.album-modal {
  padding: 1rem;
  position: absolute;
  background-color: $powerblue-color;

  top: 202px;
  left: 48px;
  right: 48px;
  height: fit-content;

  &__exit {
    display: absolute;
    top: 0;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #444444, $alpha: 0.5);
  }
  &__image {
    height: 175px;
    width: 175px;
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }
  &__button {
    text-decoration: none;
    font-size: 12px;
    height: 42px;
    background-color: $violet-color;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px black outset;

    span {
      display: flex;
      align-items: center;
      color: black;
    }
  }
  &__button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
