@import "../../styles/partials/colors";

.album-modal {
  padding: 1rem;
  position: absolute;
  background-color: white;
  padding: 2rem 4rem;
  top: 202px;
  left: 48px;
  right: 48px;
  height: 19rem;
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #444444, $alpha: 0.5);
  }
}
