@import "../../styles/partials/colors";

.button-logout {
  text-decoration: none;
  font-size: 12px;
  background-color: $violet-color;
  text-align: center;
  padding: 5px;
  border-radius: 5px;

  &__text {
    width: 300px;
    color: white;
  }
}
