@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.album-row {
  margin: 24px 0;
  display: block;
  &__name {
    padding: 16px;
    color: $white-color;
    text-align: center;
    font-size: 24px;

    @include tabletView {
    }
    @include desktopView {
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
