@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.albumspage {
  height: 100%;
  background-color: $lavender-color;
  @include tabletView {
  }
  @include desktopView {
    min-height: 800px;
  }
  &__header {
    padding: 16px;
    color: $white-color;
    text-align: center;
  }
}
