@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.artist {
  background-color: $lavender-color;
  height: 100%;
  &__header {
    padding: 16px;
    color: $white-color;
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    min-height: 800px;
    justify-content: space-evenly;
  }
  &__card {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column-reverse;
    border: 3px solid $cloud-color;
    border-radius: 15px;
    margin: 16px;
    color: $coolgray-color;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(100%);

    &:hover {
      border: 3px solid $white-color;
      color: white;
      filter: grayscale(0%);
    }

    &--text {
      text-align: center;
      padding: 16px 0;
    }
  }
}
