@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.album-cover {
  display: block;
  height: 200px;
  width: 160px;
  align-self: center;
  padding: 16px;
  color: $white-color;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  @include tabletView {
  }
  @include desktopView {
    padding: 16px;
    margin: 0px;
    height: 250px;
    width: 200px;
  }

  &__image {
    height: 100px;
    width: 125px;

    @include tabletView {
    }
    @include desktopView {
      height: 150px;
      width: 170px;
    }
  }
  &__name {
    word-wrap: normal;
    font-size: 12px;

    @include tabletView {
      font-size: 14px;
    }
    @include desktopView {
      font-size: 14px;
    }
  }
}
