.header {
  &__banner {
    width: 100%;
    height: 10rem;
    background-color: red;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid #e49273;
  }
  &__logo {
    text-decoration: none;
    &:link,
    &:visited {
      color: #2b4570;
      font-size: 1.25rem;
      font-family: "Courier New", Courier, monospace;
      letter-spacing: 3px;
    }
  }
  &__nav {
    display: flex;
    gap: 1.5rem;
  }
  &__nav-link--active {
    &:link,
    &:visited {
      color: #e49273;
      text-decoration: none;
    }
  }
}
