@import "../../styles/partials/colors";
@import "../../styles/partials/breakpoints";
.header {
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: $pink-color;
    border-bottom: 2px solid $lavender-color;

    @include tabletView {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    @include desktopView {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__logo {
    text-decoration: none;
    &:link,
    &:visited {
      color: $white-color;
      font-size: 1.25rem;
      font-family: "Courier New";
      letter-spacing: 3px;
    }
  }
  &__nav {
    display: flex;
    gap: 1.5rem;
  }
  &__nav-link {
    color: $white-color;
    font-weight: 600;
    font-size: 14px;

    @include tabletView {
      font-size: 18px;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    @include desktopView {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    &--login {
      @extend .header__nav-link;
      color: black;
    }

    &:hover {
      color: lightblue;
    }
  }
  &__nav-link--active {
    &:link,
    &:visited {
      color: $lavender-color;
      text-decoration: none;
    }
  }
}
